body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,textarea,figure{
	margin:0;
	padding:0;
}
body{
	font-family:"微软雅黑",Arial;
}
a{	
	text-decoration:none;
}
li{
	list-style:none;
}
img{
	border:none;
}
/*header*/
header{
	width:100%;
	height:36px;
	border-bottom:1px solid #dfdfdf;
	background:#fafafa;
}
.header_top{
	width:1263px;
	margin:0 auto;
	height:36px;
	font-size:12px;
	color:#bcbcaf;
	line-height:36px;
	
	overflow:hidden;
}
.header_top .iconfont{
	margin-left:10px;
}
.header_left{
	float:left;
}
.header_left a{
	color:#a5a5a5;
	margin-left:3px;
	margin-right:8px;
}
.header_right a{
	color:#a5a5a5;
}
.header_right{
	float:right;
}
.header_right a:first-child{
	margin-right:15px;
}
.header_right a:last-child{
	margin-left:11px;
	margin-right:10px;
}
section{
	width:100%;
}
.sect{
	width:1240px;
	margin: 0 auto;
}
.sec{
	height:92px;
}
.sec .limg{
	float:left;
	margin-top:26px;
	margin-bottom:17px;
}
.sec .home{
	float:left;
	width:72px;
	height:22px;
	border-radius:5px;
	background-color:#0c82d9;
	margin-top:50px;
	margin-left:15px;
	color:white;
	font-size:14px;
}

.sec .home .himg{
	float:left;
	margin-top:6px;
	margin-left:8px;
}
.sec .home span{
	margin-left:10px;
	margin-right:12px;
	line-height:22px;
}
.sec .tex{
	position:relative;
	float:left;
	width:538px;
	height:38px;
	margin-left:339px;
	margin-top:35px;
}
.sec .knief{
	position:absolute;
	top:10px;
	left:388px;
	color:black;
	line-height:21px;
	float:left;
	width:46px;
	height:21px;
	background-color:#f3f3f3;
	font-size:12px;
	text-align:center;
}

.sec .wind{
	position:absolute;
	left:440px;
	top:10px;
	line-height:21px;
	float:left;
	text-align:center;
	width:46px;
	height:21px;
	background-color:#f3f3f3;
	font-size:12px;
	color:black;
}
.sec .tex .inp{
	float:left;
	margin-left:100px;
	width:393px;
	height:38px;
	border:1px solid #dfdfdf;
	text-indent:10px;
}
.sec .tex .search{
	/*float:left;*/
	width:40px;
	height:38px;
	border:1px solid #dfdfdf;
	border-left:none;
	margin-left:493px;
}
.sec .shopcar{
	float:left;
	margin-top:35px;
	width:126px;
	height:40px;
	background:#0c82d9;
	margin-left:18px;
	font-size:12px;
	color:white;
	line-height:40px;
}
.sec .shopcar a:first-child{
	float:left;
	margin-left:23px;
}
.sec .shopcar a{
	color:white;
}
.sec .shopcar a:last-child{
	float:left;
	margin-left:10px;
}
/*content*/
.content{
	width:100%;
	background:white;
	margin-top:10px;
}
.contents{
	width:1240px;
	height:;
	margin:0 auto;
}
.box{
	margin:0 auto;
	width:449px;
	height:521px;
	/*border:1px solid gray;*/
	text-align:center;
	margin-top:90px;
}
.denglu{
	font-weight:100;
	font-size:19px;
	color:#57b4f1;
	margin-top:26px;
}
.box .pp{
	height:40px;
	margin-top:16px;
	margin-left:10px;
	margin-bottom:23px;
}
.yanz{
	color:white;
	float:left;
	width:212px;
	height:39px;
	line-height:38px;
	background-color:#0c82d9;
}
.yanz1{
	color:white;
	float:left;
	width:212px;
	height:39px;
	line-height:38px;
	background-color:#cccccc;
}
.current{

	background-color:#cccccc;
}
.current1{

	background-color:#0c82d9;
}
.co{
	width:449px;
	height:100px;
}
.con{
	width:300px;
	height:31px;
	margin-top:31px;
	margin:0 auto;
	margin-bottom:23px;
}
.con .pi{
	/*margin-top:10px;*/
	float:left;
	width:29px;
	height:28px;
	border:1px solid gray;
	/*margin-left:79px;*/
	/*overflow:hidden;*/
}
.con .pi img{
	vertical-align:center;
}
.con .inp{
	width:268px;
	height:28px;
	float:left;
	border:1px solid gray;
	border-left:none;
/*	margin-right:38px;*/
	text-indent:3px;
	outline:none;
}
.cons .inps{
	width:159px;
	height:28px;
	float:left;
	border:1px solid gray;
	border-left:none;
	text-indent:3px;
	outline:none;
	/*margin-left:30px;*/
}
.rd{
	border:1px solid gray;
	border-left:none;
	float:left;
	width:108px;
	height:28px;
	color:orange;
	/*margin-left:190px;*/
}
.rd input{
	width:46px;
	height:23px;
	border:none;
	line-height:23px;
	text-align:center;
	background-color:white;
	margin-top:3px;
	color:skyblue;
	font-weight:600;
	outline:none;
}
.con .inpss{
	width:158px;
	border-right:none;
}
.con .dt{
	float:left;
	width:108px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#999999;
	background-color:#cccccc;
	font-size:12px;

}
.con .random{
	float:left;
	width:60px;
	height:31px;
	line-height:31px;
}
.cons{
	width:300px;
	margin-top:21px;
	margin-bottom:21px;
}
.btnlogin{
	width:300px;
	height:37px;
	margin-left:75px;
}
.btnlogins{
	width:300px;
	height:37px;
	background-color:#0c82d9;
	line-height:37px;
	text-align:center;
	border:0;
	color:white;
	margin:0 auto;
}
#week{
	float:left;
	margin-top:10px;
	margin-left:74px;
	text-align:left;
	font-size:12px;
}
#week a{
	font-size:12px;
	color:#0c82d9;
}
#now{
	height:24px;
}
#now a{
	margin-top:10px;
	float:left;
	font-size:12px;
	color:#0c82d9;
}
#now span{
	font-size:12px;
	float:left;
	margin-left:40px;
	margin-top:10px;
}
#num{
	width:300px;
	margin:0 auto;
}
#num span{
	font-size:12px;
	float:left;
	margin-left:228px;
}
.other{
	width:300px;
	height:50px;
	margin:0 auto;
}
.other div{
	display:inline-block;
	height:1px;
	width:78px;
	background-color:#b0b0b0;
}
#place{
	vertical-align:middle;
	margin-top:0;
	margin-left:20px;
	margin-right:20px;
	display:inline-block;
	color:#b0b0b0;
	line-height:40px;
}
.tx{
	width:300px;
	height:32px;
	margin:0 auto;
	/*margin-top:20px;*/
}
.tx a{
	float:left;
	border-radius:50%;
	width:32px;
	height:32px;
	background:url(../img/login_icon_bg.png) no-repeat;
	background-position:0 0;
}
.tx a:first-child{
	margin-left:34px;
	margin-right:23px;
}
.tx a:last-child{
	background:url(../img/login_icon_bg.png) no-repeat;
	background-position:-99px 0;
}
/*foot*/
.foot{
	width:100%;
	background-color:#fafafa;
}
.foots{
	width:1240px;
	height:144px;
	margin:0 auto; 
	background-color:#fafafa;
	border-bottom:1px solid #ecedef;
}
.footss{
	margin-top:51px;
	float:left;
	margin-right:78px;
}
.foo{
	margin-right:42px;
}
.fooo{
	margin-left:42px;
}
.footss img{
	vertical-align:middle;
	margin-right:20px;
}
.footss span{
	font-size:16px;
}
.service{
	width:1240px;
	height:181px;
	margin:0 auto; 
	border-bottom:1px solid #ecedef;
}
.service ul li:first-child{
	font-size:18px;
	color:#422f2f;
	margin-top:26px;
}
.service ul{
	float:left;
	font-size:14px;
	line-height:26px;
	margin-right:123px;
	line-height:34px;
}
.service ul:first-child{
	margin-left:48px;
}
.service ul:last-child{
	margin-right:77px;
}

.service ul li a{
	color:#9fa0a0;
}
.service ul li a:hover{
	text-decoration:underline;
}
.service .mark{
	width:144px;
	float:left;
	margin-top:30px;
	font-size:12px;
	color:#422f2f;
}
.service p{
	margin-top:10px;
	margin-left:-25px;
}
.mark1{
	float:left;
	margin-top:30px;
}
/*footer*/
.footer{
	width:1240px;
	height:212px;
	margin:0 auto; 
}
.footer .imgs{
	float:left;
	margin-top:31px;
}
.footer .fm{
	float:left;
	width:570px;
	height:32px;
}
.fm p{
	font-size:12px;
	color:#939191;
	margin-top:25px;
	margin-left:28px;
}
.fm a{
	font-size:12px;
	display:block;
	color:#939191;
}
.sqa{
	margin-left:54px;
	margin-top:25px;
	float:left;
}
.sqa a{
	float:left;
	margin-right:12px;
}
#lm{
	margin-right:0px;
}
.sqa span{
	float:left;
	height:37px;
	width:1px;
	background-color:gray;
	margin-right:12px;
}
.scro{
	position:fixed;
	width:197px;
	height:395px;
	top:129px;
	right:137px;
}
.br{
	height:110px;
	width:74px;
	position:fixed;
	bottom:30px;
	right:0;
}